@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="heading-text">
            <h1 class="animated flipInY delay1">CDIP Alumni Association</h1>
            @*<p>Free Online education template for elearning and online education institute.</p>*@
        </div>

        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="/Content/Theme_Assets/images/slides/thumbs/img1.jpg" data-src="/Content/Theme_Assets/images/slides/Tuhin/img1.jpg">
                    <h2>We develop.</h2>
                </div>
                <div data-thumb="/Content/Theme_Assets/images/slides/thumbs/img2.jpg" data-src="/Content/Theme_Assets/images/slides/Tuhin/img2.jpg">
                </div>
                <div data-thumb="/Content/Theme_Assets/images/slides/thumbs/img3.jpg" data-src="/Content/Theme_Assets/images/slides/Tuhin/img3.jpg">
                </div>
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>
<!-- /Header -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/Theme_Assets/images/1.png" alt=""/>
                </div><!--icon box top -->
                <h4>CDIP Courses</h4>
                <p>
                    CDIP, UIU Offering  extensive courses for summer 2017 trimester. <b>Summer 2017 admission is open now, Hurry up.</b>

                </p>
                <p><a href="http://cdip.uiu.ac.bd/training-courses/"><em>Read More</em></a>
                </p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/Theme_Assets/images/2.png" alt=""/>
                </div><!--icon box top -->
                <h4>Meet our Instructor</h4>
                <p>
                    We have built a team of qualified and highly skilled IT trainers. We provide dynamic training program with lots of care and share. 
                </p>
                <p><a href="http://cdip.uiu.ac.bd/member_cat/instructor/"><em>Read More</em></a>
                </p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/Theme_Assets/images/3.png" alt=""/>
                </div><!--icon box top -->
                <h4>Latest News</h4>
                <p>
                    The Certificate Giving Ceremony & Orientation Program Spring 2017 of Center for Development of IT Professionals <b>(CDIP).</b>
                </p>
                <p><a href="http://cdip.uiu.ac.bd/category/news/"><em>Read More</em></a>
                </p>
            </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="~/Content/Theme_Assets/images/4.png" alt=""/>
                </div><!--icon box top -->
                <h4>Meet our Management</h4>
                <p>
                    In this successful journey, one thing that our team has in common -- <b>Create quality IT Expert for our country.</b>
                </p>
                <p><a href="http://cdip.uiu.ac.bd/member_cat/management/"><em>Read More →</em></a>
                </p>
            </div><!--grey box -->
        </div><!--/span3-->
    </div>
</div>
<section class="news-box top-margin">
    <div class="container">
        <h2><span>New Courses</span></h2>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/Theme_Assets/images/asp.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><a href="http://cdip.uiu.ac.bd/training-courses/c-sharp-asp-net-mvc/"><h4>C#, ASP.NET & MVC</h4></a>
                                    <p>
                                        ASP.NET is the most popular C# framework now a days. By the end of the ASP.NET course student
                                        will have a clear idea about C# & ASP.NET framework and student can build dynamic application
                                        with ASP.NET. We promise you to provide the best training service.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/Theme_Assets/images/Animation.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><a href="http://cdip.uiu.ac.bd/training-courses/animation-2d-3d/"><h4>Animation (2D & 3D)</h4></a>
                                    </p>
                                    <p>
                                        Animation is the most popular term now a days. By the end of the course student will
                                        have a clear idea about Animation (2D & 3D) elements & tools and student can able to create
                                        any type design of with Animation (2D & 3D). We promise you to provide the best training service.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/Theme_Assets/images/game.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><a href="http://cdip.uiu.ac.bd/training-courses/game-design-development-with-unity/"><h4>Game Design & Development</h4></a>
                                    </p>
                                    <p>
                                        Game Design & Development with Unity (2d) is the most popular term now a days.
                                        By the end of this course student will have a clear idea about Game Design & Development
                                        in Unity platform. We promise you to provide the best training service.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div>
            <p>
                <span>
                    Center for development of IT Professionals (CDIP) established in <b>United International University (UIU)</b> with the goal 
                    to prepare or develop the engineering students properly for fitting themselves in to industry.  
                </span>
            </p>
            <p>
                CDIP conducts different IT industrial training’s for enhancing the IT skills of the students and to make them ready for both local/global IT industries.
                The initial mission of CDIP is to support the students, guide them, train them, and bridging them into the IT industry.
            </p>
            <p>
                CDIP provides high configured lab facilities, highly qualified instructors and industry driven environment.
                CDIP also ensures job placement of succeed candidates.
            </p>
            <p>
                <a href="http://cdip.uiu.ac.bd/about-us/"><em>Read More →</em></a>
            </p>
        </div>


        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Why Choose Us?</h2></div>
            <div class="list styled custom-list">
                <ul>
                    <li style="color: "><b>Highly Qualified Instructors</b></li>
                    <li><b>Awesome Management</b></li>
                    <li><b>Extensive Course Materials</b></li>
                    <li><b>Latest Tool & Technologies</b></li>
                    <li><b>Freelancing (Outsourcing)</b></li>
                    <li><b>Certificate issued Under UIU</b></li>
                </ul>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    
<script src="~/Content/Theme_Assets/js/camera.min.js"></script>
<script>
    jQuery(function () {

        jQuery('#camera_wrap_4').camera({
            transPeriod: 500,
            time: 3000,
            height: '600',
            loader: 'false',
            pagination: true,
            thumbnails: false,
            hover: false,
            playPause: false,
            navigation: false,
            opacityOnGrid: false,
            imagePath: 'Content/Theme_Assets/images/'
        });

    });

</script>



}